---
import logo from '../assets/logo.svg';
---

<div id="container">
	<main>
        <section id="hero">
            <img id="logo" src={logo.src} alt="" fetchpriority="high" />
            <h1>Thomas Lenihan-Clarke • Lead Engineer</h1>
		</section>
	</main>
</div>

<style>
    #container {
        font-family: "Cascadia Code", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

    #logo {
        width: 30vmin;
        height: 50vmin;
    }

    h1 {
        font-size: 4vmin;
        color: #2c41bf;
    }
</style>
